%footer.pv3.ph3.ph5-m.ph6-l.mid-gray
  %small.f6.db.tc
    © 2019
    %b= brand_title
    %span All Rights Reserved
  -# .tc.mt3
    -# %a.f6.dib.ph2.link.mid-gray.dim{:href => "/language/", :title => "Language"} Language
    -# %a.f6.dib.ph2.link.mid-gray.dim{:href => "/terms/", :title => "Terms"} Terms of Use
    -# %a.f6.dib.ph2.link.mid-gray.dim{:href => "/privacy/", :title => "Privacy"} Privacy
