%nav{ role: :navigation }

  %a.highlight.b{href: root_url, title: 'Home'}
    -# TODO: why media/ here???
    %img.mw2{ src: asset_pack_path('media/images/favicon-196x196.png')}
    %span= brand_title
  %a{href: users_path, title: 'Users'} Users
  %a{href: venues_path, title: 'Venues'} Venues
  - if current_user.present?
    %a{href: '/users/edit', title: 'Profile'} Profile
    = link_to('Logout', '/users/sign_out', method: :delete, title: 'Logout')
  - else
    %a{href: '/users/sign_up', title: 'Register'} Register
    %a{href: '/users/sign_in', title: 'Sign In'} Sign In
