%nav{ role: :navigation }
  .dib
    %a.dib.highlight.b{href: root_url, title: 'Home'}
      %img.v-mid.mw2{ src: asset_pack_path('media/images/favicon-196x196.png'), alt: 'ShowYrOwnWay logo (Yr)'}
      %span.v-mid= brand_title
    %a.v-mid{href: users_path, title: 'Users'} Users
    %a.v-mid{href: venues_path, title: 'Venues'} Venues
    - if current_user.present?
      %a.v-mid{href: '/users/edit', title: 'Profile'} Profile
      = link_to('Logout', '/users/sign_out', method: :delete, title: 'Logout')
    - else
      %a.v-mid{href: '/users/sign_up', title: 'Register'} Register
      %a.v-mid{href: '/users/sign_in', title: 'Sign In'} Sign In
