- content_for(:title) { "#{brand_title}: the DIY booking app for everyone." }
- content_for(:meta_description) { "Edit information for #{@venue.name}" }

-# %h1 Home#index
-# TODO:
%p Working on a dashboard here.... Visit a link above!
