- content_for(:title) { "#{brand_title}: the DIY booking app for everyone." }
- content_for(:meta_description) { "#{brand_title} is an app for people who want to book shows. Connect with artists, venues, and booking agents based on geographic location, plan tours, and more." }

%p Working on a dashboard here.... Visit a link above!
