- content_for(:title) { 'Create a Venue' }
- content_for(:meta_description) { 'Create a new venue that wants to book some shows.' }

%h2 Add a Venue:

= render 'form'

-# = render 'shared/back_button', url: venues_path
